.data{
  cursor:pointer;
  display: flex;
  justify-content: space-between;
}

.value {
  width: 20%;
  border: 1px solid black;
  overflow: hidden;
  padding: 1.5px;
  background: #eef4ef;
  color: #1d58ff;;
}
